
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>



<div align="center">
    @*<h4 style="color:cornflowerblue"> Welcome to Shoposphere</h4>*@


    <img style="width:900px" src="~/images/Shoposphere1 .jpg" />
</div>