@model IndexViewModel

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}
<partial name="_HeadPartialView" model="Model" />




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title  -->
    <title>Karl - Fashion Ecommerce Template | Shop</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">

</head>

<body>
  
 
    <div class="main-banner" id="top">
        <div class="container-fluid">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="right-content">
                            <div class="row">
                                @foreach (var item in Model.Products)
                                {
                                    @*<div class="col-lg-4">*@<div class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig" data-wow-delay="0.2s">
                                        <div class="right-first-image">
                                            <div class="thumb">
                                               
                                                <div class="hover-content">
                                                    <div class="inner">
                                                        <h4 style="color:crimson">@item.ProductName</h4>
                                                        <p style="color:chocolate">@item.UnitPrice</p>
                                                        <div  class="main-border-button">
                                                            <a style="color:black" href="/product/productdetail/@item.Id">Product Detail</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <img width="385" height="309" src="data:image;base64,@item.PictureStr" alt="">
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- ****** Footer Area Start ****** -->
        <!-- ****** Footer Area End ****** -->
        <!-- /.wrapper end -->
        <!-- jQuery (Necessary for All JavaScript Plugins) -->
        <script src="js/jquery/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="js/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Plugins js -->
        <script src="js/plugins.js"></script>
        <!-- Active js -->
        <script src="js/active.js"></script>

    </body>

</html>